{% extends 'base.html.twig' %}

{% block title %} Espace Entreprise {% endblock %}
{% block page_title %} Espace Entreprise {% endblock %}

{% block body %}
        <h1 class="text-center">Espace Entreprises</h1>
{% endblock %}