<div class="footer-wrapper">
	<footer class="bg-dark text-white py-4">
		<div class="container">
			<div class="row justify-content-between text-center text-md-start">
				<!-- Colonne A propos -->
				<div class="col-md-2 mb-3">
					<ul class="list-unstyled">
						<li>
							<a href="" class="text-white text-decoration-none">Formulaire de contact</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2 mb-3">
					<ul class="list-unstyled">
						<li>
							<a href="" class="text-white text-decoration-none">Prochains évènements</a>
						</li>
                    </ul>
                </div>
                <div class="col-md-2 mb-3">
                    <ul class="list-unstyled">                                
                        <li>
                            <a href="" class="text-white text-decoration-none">Vidéos Témoignages</a>
                        </li>
					</ul>
				</div>
				<div class="col-md-3 mb-3">
					<h5><b>A propos de nous</b></h5>
					<ul class="list-unstyled">
						<li>
							<a href="" class="text-white text-decoration-none">Mentions légales</a>
						</li>
						<li>
							<a href="" class="text-white text-decoration-none">Politique de confidentialité</a>
						</li>
						<li>
							<a href="" class="text-white text-decoration-none">Conditions générales d'utilisation</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
