{% extends 'base.html.twig' %}

{% block title %} Espace Admin {% endblock %}
{% block page_title %} Espace Admin {% endblock %}

{% block body %}
        <h1 class="text-center">Espace Administrateur</h1>
        <a href="{{ path('Admin_gestionCandidat')}}">Gestion Candidat</a>
{% endblock %}