{% extends 'base.html.twig' %}

{% block title %} Espace Candidat {% endblock %}
{% block page_title %} Espace Candidat {% endblock %}

{% block body %}

    <h1 class="text-center">Espace Candidat</h1>

    <a href="{{path('Utilisateur_ProfilCandidat')}}" class="btn btn-primary">
        Voir mon profil 
    </a>
{% endblock %}