{% extends 'base.html.twig' %}

{% block title %}Mentions légales {% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="card shadow-sm">
        <div class="card-body">

            <h1 class="text-center text-decoration-underline mb-4">
                Mentions légales
            </h1>

            <p>
                Le site <strong>Cap Numérique</strong> est édité par Thomas Lemaire,
                domicilié à Paris, joignable à l’adresse email suivante :
                capnumerique.pro@gmail.com.
            </p>

            <p>
                Le site Cap Numérique a pour objectif d’accompagner les personnes en recherche d’emploi
                ou de formations dans le domaine du numérique, en proposant des outils, des ressources et un espace
                utilisateur personnalisé.
            </p>

            <p>
                Le site est hébergé par la société OVHcloud, dont le siège social est situé
                2 rue Kellermann, 59100 Roubaix, France, accessible via le site
                <a href="https://www.ovhcloud.com" target="_blank">www.ovhcloud.com</a>.
            </p>

            <p>
                L’ensemble des contenus présents sur le site Cap Numérique, incluant mais ne se limitant pas
                aux textes, images, graphismes et logos, est protégé par le droit d’auteur et reste la propriété
                exclusive de son éditeur, sauf mention contraire. Toute reproduction, distribution ou utilisation
                sans autorisation préalable est strictement interdite.
            </p>

            <p>
                L’éditeur du site s’efforce de fournir des informations aussi précises que possible. Toutefois,
                il ne pourra être tenu responsable des omissions, des inexactitudes ou des éventuelles carences
                dans la mise à jour des informations.
            </p>

        </div>
    </div>
</div>
{% endblock %}