<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Accueil{% endblock %} - Cap Numerique</title>
            {# CSS Bootstrap #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
            crossorigin="anonymous">
            {# CSS pour la page du trello #}
            <style>
                .card-item {
                    cursor: grab; /* curseur style main ouverte */
                }

                .card-item:active {
                    cursor: grabbing; /* curseur style main fermée pendant le drag */
                }
            </style>
        {% endblock %}
        {# Icones bootstrap #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    </head>
        
    <body>
        {# Menu principal #}
         {% include 'partials/_navcontact.html.twig' %}
        {% include 'partials/_header.html.twig'%}
        {# Contenu du site #}
        {% block body %}
            <main>
                <div class="p-5 mx-auto text-center">
                    <h1 class="display-4">Bienvenue sur Cap Numérique</h1>
                </div>
                {# Contenu de la page d'accueil #}
            </main>   
        {% endblock %}
        {# Pied de page #}
         {% include 'partials/_navcontact.html.twig' %}
        {% include 'partials/_footer.html.twig'%}

        {# JS Bootstrap #}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
            crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>